$fuente-principal: 'Montserrat', sans-serif;

/* $color-fondo:  #2669A6; */
$color-titulo: #FFB520;
$color-fondo:  #1e1e1e;
$color-bordes: rgba(255, 181, 32, 0.726);
$blanco: #F5F5F5;
$negro: #1e1e1e;
$gris: #e1e1e1;
$boton-verde: #06FF00;

$separacion: 5rem;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

// Fuentes
$delgada: 300;
$regular : 400;
$bold: 700;
$black: 900