@use '../estilosBase/variables' as v;


.destacadas{
    
    height: 80rem;
    background-color: v.$color-fondo;
    box-Shadow:0 15px 40px 0 rgba(0, 0, 0, 0.904), 0 17px 17px 0 rgba(0, 0, 0, .5);
    
}
.contenedor-destacadas{
    display: block;
    margin: 0 auto;
    width: 80%;

    h2{
        padding-top: 8rem;
        font-size: 4rem;
        color: v.$color-titulo;
        text-align: left;
    }
    
}
@media only screen and (min-width: 0px) and (max-width: 967px){
    .destacadas{
        position: relative;
        bottom: 330px;
    }
}

@media only screen and (min-width: 0px) and (max-width: 567px){
    .destacadas{
        position: relative;
        bottom: 430px;
    }
}