@use '../estilosBase/variables' as v;
.grid-destacadas{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
    width: 95%;
    margin-top: 5rem;
}
.destacadas{
    width: 100%;
    background-color: v.$blanco;
    margin-top: 30px;
}
.contenedor-destacadas{
    display: block;
    margin: 0 auto;
    width: 90%;
    height: 90rem;
    
    h2{
        padding-top: 8rem;
        color: v.$negro;
        text-align: left;
    }
    
}