@use '../estilosBase/variables' as v;


.destacadas{
    
    height: 90rem;
    background-color: v.$blanco;
    display: f;
    
}
.contenedor-destacadas{
    display: block;
    margin: 0 auto;
    width: 80%;

    h2{
        padding-top: 8rem;
        font-size: 4rem;
        color: v.$negro;
        text-align: left;
    }
    
}