.contenedoor {
	min-height: 100vh;
	display: flex;
	align-items: flex-start;
	justify-content: center;

    .formulario {
    width: 50%;
	margin-top: 50px;
	background: #fff;
	border-radius: 5px;
	padding: 20px;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    color: black;

          
            label {
                flex: 0 0 100px;
                text-align: center;
            }
            input {
                flex: 1;
                padding: 1.25rem;
                border-radius: 1rem;
                color: rgb(7, 6, 6);
                margin: 0;
            }
            input:focus {
                outline: none;
                border: 2px solid #0085FF;
            }

            .campo {
                display: flex;
                width: 100%;
                padding: 10px;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
            
                outline: none;
                margin-bottom: 10px;
            }

            .campoErr{
                display: flex;
                width: 100%;
                padding: 0px;
                align-items: center;
                justify-content: center;
                color: #e92b2d;
                font-weight: 600;
                font-size: 12px;
               

            }

            button[type="submit"] {
                display: block;
                background: #0085FF;
                font-weight: 600;
                font-family: 'Open Sans', sans-serif;
                border: none;
                cursor: pointer;
                width: 50%;
                padding: 10px;
                border-radius: 5px;
                color: #fff;
                font-size: 16px;
                transition: .3s ease all;
                margin: auto;
                margin-bottom: 10px;
            }
            button[type="submit"]:hover {
                background: #0051ff;
            }

            .login{
                display: block;
                background: #666262;
                font-weight: 600;
                font-family: 'Open Sans', sans-serif;
                border: none;
                cursor: pointer;
                width: 50%;
                padding: 10px;
                border-radius: 5px;
                color: #fff;
                font-size: 16px;
                transition: .3s ease all;
                margin: auto;
            }
            .login:hover {
                background: #0e0f11;
            }

            .exito {
                text-align: center;
                font-size: 14px;
                padding-top: 20px;
                color: #02a802;
            }

}


}




