@use '../estilosBase/variables' as v;
.container-modal{
    display: grid;
    grid-template-rows: repeat(1,1fr);
}
.titulo-modal{
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: left;
    font-weight: normal;
    font-size: 2.5rem;
    letter-spacing: 2px;
    border-bottom: 1px solid white;
    span{
        position: relative;
        top: 5px;
        left: 5px;
    }
}
.modal-contenido{
    display: flex;
    justify-content: space-between;
}
.total-modal{
    display: flex;
    margin-left: 15px;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid white;
    h1{
        color: v.$color-titulo ;
        font-size: 2.5rem;
        font-weight: normal;
        letter-spacing: 2px;
    }
    h3{       
         font-size: 2.5rem;
        font-weight: normal;
        letter-spacing: 2px;
    }

    
}
.precio-modal{
    span{
        font-size: 2rem;
        color: red;
        position: relative;
        margin-left: 8px;
        margin-bottom: 2px;
        
  
        

    }
}
.cartaModal{
    display: flex;
}
.label-modal{
    flex: 1 10 1px;
    text-align: right;
    position: relative;
    top: 5px;
}
.btn-modal{
    display: block;
    margin: 0 auto;
    padding: 13px 10px;
    font-size: 2rem;
    width: 60%;
    border-radius: 5px;
    border: none;
    text-transform: uppercase;
    background-color: v.$boton-verde;
    &:hover{
        transform: translateY(1px);
        transition: 0.4s ease-out;
        box-shadow: 0 15px 40px 0 #04ff004d, 0 17px 17px 0 #04ff0049;

    }
}
.caja_modal{
    // overflow: scroll ;
    // height: 40rem;
    margin: 2rem auto;
    max-width: 450px;
    background: black;
    overflow:auto;
    box-sizing: border-box;
    
  
}
.caja_modal::-webkit-scrollbar {
    -webkit-appearance: none;
}

.caja_modal::-webkit-scrollbar:vertical {
    width:10px;
}

.caja_modal::-webkit-scrollbar-button:increment{
    display: none;
}

.caja_modal::-webkit-scrollbar-button {
    display: none;
} 

.caja_modal::-webkit-scrollbar:horizontal {
    height: 10px;
}

.caja_modal::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

.caja_modal::-webkit-scrollbar-track {
    border-radius: 10px;  
}
