@use './estilosBase/variables' as v;

.navContainer{
    display: flex;
   justify-content: space-around;
   margin-top: 7rem;
   align-items: center;
   
   .titulo{
    color: v.$color-titulo;
    font-size: 4.5rem;
    
    }

    span{
        font-size: 2.5rem;
        color: v.$blanco;
        margin: 2rem;
        &:hover{
            color: v.$color-titulo;
        }
    }


}
