@use '../estilosBase/variables' as v;
.titulo-tienda{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    h1{
        font-weight: normal;
        font-size: 5rem;
    }
}
.contenedor-tienda{
    width: 90%;
    display: block;
    

    
}
.background-tienda{
    margin: 50px 100px;
    display: flex;
    justify-content: center;
    padding: 80px 0;
    background: v.$color-secundario-oscuro;
    box-shadow: 0 0 15px v.$color-secundario;
    border-radius: 20px;
}
.carrito{
    font-size: 7rem;
    font-weight: normal;
    color: v.$color-titulo;
    cursor: pointer;
    position: static;
    &:hover{
        color: v.$blanco;
    }
}
.contenedor-tarjetas{
    display: block;
    margin: 0 auto;
    width: 90%;
    height: 90rem;
}
.grid-tienda{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10rem 0;
    height: 90%;
    
    
    
}

.car{
    position: fixed;
    z-index: 50;
    right: 50px;
}

.cart-tienda{
  display: flex;
  justify-content: center;
}
.carrito-num{
    font-size: 2rem;
    border-radius: 50%;
    width: 36px;
    height: 15px;
    padding: 5px 10px;
    position: relative;
    left: 25px;
    background: rgba(255, 24, 24, 0.678);
    
    color: rgb(255, 255, 255);
    text-align: center;
}

.seccion-compra{
    display: flex;
    justify-content: space-around;
}
.nav-tienda{
    display: flex;
    justify-content: center;
    position: relative;

    .link-tienda{
        text-decoration: none;
        color: white;
        transition: 0.5s;

    }
    
.activoTienda{
    .link-tienda{
        color: white;
        text-shadow: 5px 15px 50px  v.$color-tercero;
    }
    color: #FFB520;
    border-bottom: 0.5px solid v.$color-titulo;
    

}
    h3{
        color: v.$color-tercero;
        display: block;
        font-weight: lighter;
        letter-spacing: 3PX;
        border-bottom: 0.3px solid v.$color-bordes;
        cursor: pointer;
        padding: 3px 20px;
        width: 30%;
        height: 40%;
        transition: 0.5S;
        &:hover{
            border-bottom: 1px solid v.$color-titulo;

        }

    }

}
.contenedor-filtros{
    display: flex;
    justify-content: left;
    width: 50%;
    align-items: center;
    h5{
        margin-right: 10px;
    }
}
.filtros{
    display: flex;
    align-items: center;
    flex: 1;
    padding: 5px;
    border-radius: 10px;
    color: v.$color-titulo;
    margin: 0;
    width: 20%;
    height: 30px;
    background-color: #ff636327;
    

    border: 1px solid v.$color-bordes;

}

/* Tablets y phablets */
@media only screen and (min-width: 0px) and (max-width: 1067px){
    .grid-tienda{
        display: block;
        gap: 2rem;
        
    }
    .titulo-tienda{
        width: 100%;
    }
    .background-tienda{
        margin: 0;
        width:100%;
        
    }
    .cart-tienda{margin-top: 50px;}
}



