@use '../estilosBase/variables' as v;
/* .detalle-container{
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        list-style: none;
        text-decoration: none;
       
      }

} */
.avatar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;

    p{
        font-size: 2rem;
        color: v.$color-tercero;
        text-align: center;
        border-bottom: 0.5px solid rgba(128, 128, 128, 0.158);
        padding: 20px;
        width: 40%;
    }
}
.wrapper{
    display: flex;
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
.wrapper .sidebar{
    width: 300px;
    
    
    padding: 30px 0px;
    position: relative;
}
  
.wrapper .sidebar h2{
    color: #fff;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 30px;
}
  
.wrapper .sidebar ul li{
    padding: 30px;
    border-bottom: 1px solid white;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    border-top: 1px solid rgba(255,255,255,0.05);
    border-radius: 5px;
    list-style:none;
}    
.wrapper .sidebar i {
    color: v.$color-tercero;
    margin-right: 5px;
}
.wrapper .sidebar ul li a{
    color: white;
    display: block;
    width: 100%;
    font-weight: normal;
    letter-spacing: 2px;
    transition: 0.5s;
}
  
.wrapper .sidebar ul li a .fas{
    width: 25px;
    transition: 0.5s;
}
  
.wrapper .sidebar ul li:hover{
    transition: 0.5s;
    color: v.$color-tercero;
}
.activo-profile{
    background-color: v.$color-titulo;
    box-shadow: 5px 5px 50px v.$color-titulo;
    
    color: black;
    i{
        margin-right: 10px;
        color: black;
        
    }
    li, ul{
        color: black;
    }
   
}     
.wrapper .sidebar ul li:hover a{
    color: v.$color-tercero;
}
   
.wrapper .sidebar .social_media{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}
  
.wrapper .sidebar .social_media a{
    display: block;
    width: 40px;
    
    height: 40px;
    line-height: 45px;
    text-align: center;
    margin: 0 5px;
    
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
  
.wrapper .main_content{
    width: 100%;
    margin-left: 200px;
}
  
.wrapper .main_content .header{
    padding: 20px;
    background: #fff;
    color: #717171;
    border-bottom: 1px solid #e0e4e8;
}
  
.wrapper .main_content .info{
    margin: 20px;
    color: #717171;
    line-height: 25px;
}
  
.wrapper .main_content .info div{
    margin-bottom: 20px;
}
  
@media (max-height: 500px){
    .social_media{
      display: none !important;
    }
}
.contenido-profile{
    width: 100%;
    margin: 35px 20px 20px 80px;
}

.grid-inventario{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem 2rem;
}

.campo{
    display: flex;
    font-size: 2.5rem;
    background-color: v.$color-secundario;
    border-radius: 10px;
    width: 80%;
    padding: 15px;
    box-shadow: 5px 5px 10px v.$color-fondo;
    i{
        color: v.$color-tercero;
        margin: 0 2rem;
        cursor: pointer;
    }
    justify-content: left;
    align-items: center;
    span{
        margin-left: 20px;
        color: v.$color-tercero;
    }
}
.grid-info{
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 5rem 0;
    
}
.cabeza-profile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .cryps{
        font-size: 2.5rem;
        color: v.$color-tercero;
        /* border: 1px solid v.$color-titulo; */
        background-color: v.$color-secundario;
        border-radius: 15px;
        padding: 10px;
        i{
            color: v.$color-titulo;
            margin-left: 10px;
        }
    }
}
.contrase{
    background: v.$color-titulo;
    color: v.$color-fondo;
    box-shadow: 1px 1px 15px v.$color-titulo;
    
}
.meta-conect{
    background: v.$boton-verde;
    height: 80px;
    box-shadow: 1px 1px 20px v.$boton-verde;
    h2{
        color: black;
    }
    i{color: black}
}

.meta-desconect{
    background: rgb(228, 49, 49);
    height: 80px;
    box-shadow: 1px 1px 20px rgb(228, 49, 49);
    h2{
        color: black;
    }
    i{color: black}
}